@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/mixins/mixins.scss";

.projects {
    @include Tablet {
        margin-left: 0;
        padding: 0 2%;
    }
    box-shadow: -1px 0 $gray-shadow;
    margin-left: 5%;
    padding: 0 5%;
    height: 100%;
    .projects-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        .add-project-button {
            border: none;
            background-color: $light-green;
            border-radius: 20px;
            height: 35px;
            width: fit-content;
            padding: 0 20px;
            outline: none;
            color: $white;
            cursor: pointer;
        }
    }
}
.icon {
    height: auto;
    padding: 6px;
    width: 20px;
}
